/*===colors of auto page*/
/*sidebar*/
.sidebar-menu-widget ul li.active,
.sidebar-menu-widget ul li:hover{
    border-left: 4px solid #9ead50;
}
/*menu color when active*/
.menu-item.active p{
    color: #a0b33f !important;
}

/*btn refresh and transaction*/
.btn-success{
    background: #93a149;
    border-color: #93a149;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success.focus:active,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover,
.btn-success.focus,
.btn-success:focus{
    background: #93a149;
}
/*btn actions edit delete save*/
.btn-action.active {
    background-color: #beca80;
    border-color: #beca80;
}

.btn-action.active:hover{
    background-color:#787878;
    border-color: #787878;
}

/*table log*/
.table-app table th{
    background: #93a149;
}

.table-striped > tbody > tr:nth-of-type(2n+2) {
    background-color: #ebeedd;
}

.table-app table > tbody > tr.active{
    background-color: #d0d6b0 !important;
    border: 1px solid #93a149 !important;
}
.table-app table > tbody > tr.active td{
    background-color: inherit !important;
    border-top: 1px solid #93a149 !important;
    border-bottom: 1px solid #93a149 !important;
    border-right: none;
    border-left: none;
}

.table-app table > tbody > tr:hover td{
    border-top: 1px solid #93a149 !important;
    border-bottom: 1px solid #93a149 !important;
    border-right: none;
    border-left: none;
}
.table-app table > tbody > tr:hover{
    border: 1px solid #93a149 !important;
    background-color: #efefef !important;
}

/*datepiker styles*/
.datepicker td.active, .datepicker td.active:hover {
    background:  #beca82 !important;
}

.glyphicon-calendar {
    color: #93a149;
}

.modal-header{
    background: #93a149;
}
.btn-add:hover{
    background-color:#93a149;
    border-color: #93a149;
}
.more{
    border: 1px solid #93a149;
}
.plus-text,
.minus-text,
.plus-text i,
.minus-text i{
    color: #93a149;
}
