/*===colors of auto page*/
/*sidebar*/
.sidebar-menu-widget ul li.active,
.sidebar-menu-widget ul li:hover{
    border-left: 4px solid #be83b9;
}

/*menu color when active*/
.menu-item.active p{
    color: #6e587e !important;
}

/*table log*/

/*btn refresh and transaction*/
.btn-success{
    background: #6e587e;
    border-color: #6e587e;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success.focus:active,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover,
.btn-success.focus,
.btn-success:focus{
    background: #6e587e;
}
/*btn actions edit delete save*/
.btn-action.active {
    background-color: #d9bad9;
    border-color: #d9bad9;
}

.btn-action.active:hover{
    background-color:#787878;
    border-color: #787878;
}

/*table log*/
.table-app table th{
    background: #be83bb;
}

.table-striped > tbody > tr:nth-of-type(2n+2) {
    background-color: #f0e9f9;
}

.table-app table > tbody > tr.active{
    background-color: #e1d7f0 !important;
    border: 1px solid #be83bb !important;
}
.table-app table > tbody > tr.active td{
    background-color: inherit !important;
    border-top: 1px solid #bd84bb !important;
    border-bottom: 1px solid #be83bb !important;
    border-right: none;
    border-left: none;
}

.table-app table > tbody > tr:hover td{
    border-top: 1px solid #bd84bb !important;
    border-bottom: 1px solid #be83bb !important;
    border-right: none;
    border-left: none;
}
.table-app table > tbody > tr:hover{
    border: 1px solid #be83bb !important;
    background-color: #efefef !important;
}

/*datepiker styles*/
.datepicker td.active, .datepicker td.active:hover {
    background:  #dbbad7 !important;
}

.glyphicon-calendar {
    color: #be83bb;
}

.modal-header{
    background: #be83bb;
}

.more{
    border: 1px solid #be83bb;
}
.plus-text,
.minus-text,
.plus-text i,
.minus-text i{
    color: #be83bb;
}
.select2-selection__clear {
    color: white !important;
    background: #be83bb;
}