/* font-family: "MyriadProLight"; */
@font-face {
    font-family: "MyriadProLight";
    src: url("../fonts/MyriadPro/MyriadPro-Light.otf") format("embedded-opentype"),
    url("../fonts/MyriadPro/Myriad Pro Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadSemiBold"; */
@font-face {
    font-family: "MyriadSemiBold";
    src: url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.eot") format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadRegular"; */
@font-face {
    font-family: "MyriadRegular";
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot") format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PT_Sans/PTSansRegular/PTSansRegular.eot") format("embedded-opentype"),
    url("../fonts/PT_Sans/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PT_Sans/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot") format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*==============footer go bottom-------*/
* {
    margin: 0;
    padding: 0;
}

html,
body
 {
    height: 100%;
}
.wrapper {
    height:auto;
    min-height: 100%;
}

.content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 80px;
}

footer {
    height: 70px;
    /*margin-top: -70px;*/
    position: absolute;
    width: 100%;
    bottom: 40px;
}

/*------------------------------*/
body {
    background: #ffffff;
    font-size: 14px;
    color: #000;
    font-family: 'MyriadRegular', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    overflow: hidden;
}

h2 {
    font-size: 27px;
    font-family: 'MyriadProLight', sans-serif;
}

a {
    text-decoration: none !important;
}

a:active, a:hover, a:focus {
    outline: none;
}

.btn {
    outline: none !important;
    font-size: 12px;
}

.btn-default {
    color: #3f3f3f;
    font-size: 12px;
    font-family: 'MyriadProRegular', sans-serif;
    background: none;
    border-radius: 10px;
    padding: 4px 31px 5px 31px;
    border: none;
}

.btn-default:hover {
    background: #efefef;
}

.btn-success {
    border-radius: 5px;
    padding: 4px 31px 3px 31px;
    background: #6f9d40;
    font-family: 'MyriadSemiBold', sans-serif;
    color: #ffffff;
}

.btn-success:hover {
    background: #787878;
}

.btn-success.plus {
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'MyriadProBold', sans-serif;
}

.btn-success.ref {
    float: right;
    margin-right: 15px;
}

.btn-add {
    background-color: #787878;
    border-color: #787878;
    color: #ffffff;
    padding: 4px 31px 5px 31px;
    border-radius: 5px;
}

.btn-add:hover {
    background-color: #6f9d40;
    border-color: #6f9d40;
    color: #ffffff;
}

.btn-action {
    background-color: #efefef;
    border-color: #efefef;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.btn-action.btn-other-action
{
    min-width:10px;
    text-align: center;
    background-color: #efefef;
    border-color: #efefef;
}
.btn-action.btn-other-action:hover
{
    background-color: #787878;
    border-color: #787878;
}

.btn-action.btn-other-action span
{
    width:100%;
    text-align: center;
    padding-top: 3px;
}


.btn-action:hover {
    background-color: #787878;
    border-color: #787878;
}

/*====================header - main page===================*/
.header-main {
    padding: 80px 35px 25px 17px;
    overflow: hidden;
    margin-bottom: 25px;
}

.login-wrapper {
    position: absolute;
    text-align: right;
    right: 10px;
    bottom: -100px;
}

.login span {
    /*display: inline;*/
}

.login .user-name {
    font-family: 'MyriadSemiBold', sans-serif;
    display: inline-block;
    margin-right: 10px;
}

.login a i {
    font-size: 14px;
}

/*.login a span{*/
/*background: url("../images/icons/symbols.png") no-repeat -8px -9px;*/
/*width: 20px;*/
/*height: 14px;*/
/*display: inline-block;*/
/*}*/
/*====================content-main===================*/
.main-content {
    padding: 0 35px 0 35px;
    overflow: hidden;
    width: 100%;
    font-family: 'MyriadProLight', sans-serif;
    margin-bottom: 15px;
}

.item-wrapper {
    width: 20%;
    float: left;
    text-align: center;
    padding: 0 7px 0 7px;
}

.item-wrapper a {
    text-decoration: none;
}

.item-div {
    padding: 50px 5px 50px 5px;
    border-radius: 20px;
    height: 252px;
    cursor: pointer;
}

.item-div:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    color: #ffffff !important;
    border: none;
}

.item-icon {
    height: 75px;
    text-align: center;
}

.item-icon .icon {
    margin: 0 auto;
    width: 95px;
    height: 100%;
}

.first-row .item-wrapper:nth-child(1) .item-div {
    color: #7dae4c;
    border: 2px solid #7dae4c;
}

.first-row .item-wrapper:nth-child(1) .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -7px -11px;
}

.first-row .item-wrapper:nth-child(1):hover .item-div {
    background: #7dae4c;
}

.first-row .item-wrapper:nth-child(1):hover .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -7px -90px;
}

.first-row .item-wrapper:nth-child(2) .item-div {
    color: #334b87;
    border: 2px solid #334b87;
}

.first-row .item-wrapper:nth-child(2) .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -112px -11px;
}

.first-row .item-wrapper:nth-child(2):hover .item-div {
    background: #334b87;
}

.first-row .item-wrapper:nth-child(2):hover .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -112px -90px;
}

.first-row .item-wrapper:nth-child(3) .item-div {
    color: #6e587e;
    border: 2px solid #6e587e;
}

.first-row .item-wrapper:nth-child(3) .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -204px -11px;
}

.first-row .item-wrapper:nth-child(3):hover .item-div {
    background: #6e587e;
}

.first-row .item-wrapper:nth-child(3):hover .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -204px -90px;
}

.first-row .item-wrapper:nth-child(4) .item-div {
    color: #2a7add;
    border: 2px solid #2a7add;
}

.first-row .item-wrapper:nth-child(4) .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -297px -11px;
}

.first-row .item-wrapper:nth-child(4):hover .item-div {
    background: #2a7add;
}

.first-row .item-wrapper:nth-child(4):hover .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -297px -90px;
}

.first-row .item-wrapper:nth-child(5) .item-div {
    color: #b5723e;
    border: 2px solid #b5723e;
}

.first-row .item-wrapper:nth-child(5) .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -397px -11px;
}

.first-row .item-wrapper:nth-child(5):hover .item-div {
    background: #b5723e;
}

.first-row .item-wrapper:nth-child(5):hover .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -397px -90px;
}

.second-row .item-wrapper:nth-child(1) .item-div {
    color: #d3c326;
    border: 2px solid #d3c326;
}

.second-row .item-wrapper:nth-child(1) .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -497px -11px;
}

.second-row .item-wrapper:nth-child(1):hover .item-div {
    background: #d3c326;
}

.second-row .item-wrapper:nth-child(1):hover .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -497px -90px;
}

.second-row .item-wrapper:nth-child(2) .item-div {
    color: #a0b33f;
    border: 2px solid #a0b33f;
}

.second-row .item-wrapper:nth-child(2) .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -590px -11px;
}

.second-row .item-wrapper:nth-child(2):hover .item-div {
    background: #a0b33f;
}

.second-row .item-wrapper:nth-child(2):hover .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -590px -90px;
}

.second-row .item-wrapper:nth-child(3) .item-div {
    color: #69bfb6;
    border: 2px solid #69bfb6;
}

.second-row .item-wrapper:nth-child(3) .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -682px -11px;
}

.second-row .item-wrapper:nth-child(3):hover .item-div {
    background: #69bfb6;
}

.second-row .item-wrapper:nth-child(3):hover .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -682px -90px;
}

.second-row .item-wrapper:nth-child(4) .item-div {
    color: #6eb164;
    border: 2px solid #6eb164;
}

.second-row .item-wrapper:nth-child(4) .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -785px -11px;
}

.second-row .item-wrapper:nth-child(4):hover .item-div {
    background: #6eb164;
}

.second-row .item-wrapper:nth-child(4):hover .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -785px -90px;
}

.second-row .item-wrapper:nth-child(5) .item-div {
    color: #538495;
    border: 2px solid #538495;
}

.second-row .item-wrapper:nth-child(5) .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -875px -11px;
}

.second-row .item-wrapper:nth-child(5):hover .item-div {
    background: #538495;
}

.second-row .item-wrapper:nth-child(5):hover .item-div .item-icon .icon {
    background: url("../images/icons/icons_main.png") no-repeat -875px -90px;
}

/*========================Transaction page ==============*/
/*======header of Transaction page ========*/
.header-page-wrapper {
    background: #7eaf4d;
}

.header-page {
    width: 100%;
    overflow: hidden;
}

.logo-page {
    width: 19%;
    padding: 60px 0px 30px 0;
    float: left;
}

.menu-page {
    width: 81%;
    float: right;
    overflow: hidden;
    height: 130px;
}

.menu-item {
    width: 10%;
    float: left;
    text-align: center;
    border-right: 1px solid #7dae4c;
    border-left: 1px solid #7dae4c;
    height: 100%;
    padding-top: 25px;
    background: #5a862e;
}

.menu-item:hover {
    background: #a2ce76;
    border-right: none;
    border-left: none;
}

.menu-item.active {
    background: url("../images/menu-item_bg.jpg") no-repeat top;
    border-right: none;
    border-left: none;
}

.menu-item:hover p,
.menu-item.active p {
    color: #5a862e !important;
}

.menu-icon {
    height: 42px;
    margin: 0 15px 10px;
}

.menu-item a {
    color: #ffffff !important;
    text-decoration: none;
}

.menu-item p {
    font-family: 'MyriadSemiBold', sans-serif;
}

/*changing of menu-item icons */
.menu-item:nth-child(1) .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat 0 -58px;
}

.menu-item:nth-child(1):hover .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat 0 -108px;
}

.menu-item:nth-child(1).active .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat 0 -5px;
}

.menu-item:nth-child(2) .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -60px -58px;
}

.menu-item:nth-child(2):hover .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -60px -108px;
}

.menu-item:nth-child(2).active .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -60px -5px;
}

.menu-item:nth-child(3) .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -120px -64px;
}

.menu-item:nth-child(3):hover .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -120px -112px;
}

.menu-item:nth-child(3).active .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -120px -11px;
}

.menu-item:nth-child(4) .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -177px -58px;
}

.menu-item:nth-child(4):hover .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -177px -108px;
}

.menu-item:nth-child(4).active .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -177px -5px;
}

.menu-item:nth-child(5) .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -237px -58px;
}

.menu-item:nth-child(5):hover .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -237px -108px;
}

.menu-item:nth-child(5).active .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -237px -5px;
}

.menu-item:nth-child(6) .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -297px -58px;
}

.menu-item:nth-child(6):hover .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -297px -108px;
}

.menu-item:nth-child(6).active .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -297px -5px;
}

.menu-item:nth-child(7) .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -365px -65px;
}

.menu-item:nth-child(7):hover .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -364px -114px;
}

.menu-item:nth-child(7).active .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -364px -10px;
}

.menu-item:nth-child(8) .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -424px -58px;
}

.menu-item:nth-child(8):hover .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -424px -108px;
}

.menu-item:nth-child(8).active .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -424px -5px;
}

.menu-item:nth-child(9) .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -484px -58px;
}

.menu-item:nth-child(9):hover .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -484px -108px;
}

.menu-item:nth-child(9).active .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -484px -5px;
}

.menu-item:nth-child(10) .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -544px -63px;
}

.menu-item:nth-child(10):hover .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -544px -112px;
}

.menu-item:nth-child(10).active .menu-icon {
    background: url("../images/icons/menu_icons.png") no-repeat -544px -8px;
}

/*end changing of menu-item icons*/

/*======content of log's pages ========*/
/*== sidebar==*/
.content-page {
    width: 100%;
    overflow: hidden;
}

.sidebar {
    width: 19%;
    float: left;
}

.sidebar-header {
    font-size: 18px;
    font-family: 'MyriadSemiBold', sans-serif;
    padding: 25px 0 25px 20px;
}

.sidebar-menu-widget {
    background: #efefef;
    padding: 10px 0 10px 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
}

.sidebar-menu-widget ul li {
    list-style-type: none;
    margin-bottom: 3px;
    padding: 9px 0 9px 15px;
}

.sidebar-menu-widget ul li:last-child {
    margin-bottom: 0;
}

.sidebar-menu-widget ul li a {
    color: #3f3f3f;
}

.sidebar-menu-widget ul li.active,
.sidebar-menu-widget ul li:hover {
    padding-left: 11px;
    font-family: 'MyriadProBold', sans-serif;
}

/*sidebar-info-widget*/
.sidebar-info-widget {
    overflow: hidden;
    margin-bottom: 20px;
}

.info-inner-div {
    background: #efefef;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
}

.info-header {
    text-align: center;
    font-family: 'MyriadProBold', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #c8c8c8;
    text-transform: uppercase;
}

.info-header p {
    margin-bottom: 0;
}

.info-radio {
    text-transform: uppercase;
    font-family: 'MyriadSemiBold', sans-serif;
    font-size: 11px;
    overflow: hidden;
}

.info-radio input[type=radio] {
    margin-right: 5px;
}

.info-radio .input:nth-child(1) {
    float: left;
}

.info-radio .input:nth-child(2) {
    float: right;
}

.info .row div {
    padding-top: 6px;
    padding-bottom: 6px;
}

.info .text {
    font-family: 'MyriadSemiBold', sans-serif;
    font-size: 12px;
    text-align: right;
}

.info .number {
    font-family: 'MyriadProBold', sans-serif;
    font-size: 14px;
    text-align: right;
    border-left: 1px solid #c8c8c8;
}

.info .row:nth-child(odd) {
    background: #ffffff;
}

.info .row:nth-child(2) {
    background: #ebebeb;
}

.info {
    border-top: 1px solid #c8c8c8;
}

/*content-table*/
.content-body {
    width: 81%;
    float: left;
    padding-left: 40px;
}

.content-header {
    font-family: 'MyriadProRegular', sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    overflow: hidden;
}

.content-header h2 {
    margin-bottom: 0;
    margin-top: 0;
    display: inline;
}

.content-header .login {
    display: inline-block;
    float: right;
    padding-right: 15px;
}

.form-horizontal .control-label {
    padding-top: 0 !important;
}


.form-horizontal > .row{
    margin-bottom: 2px;
}

.form-horizontal .col-md-3 {
    padding-right: 15px;
}
.modal-body .col-md-2 {
    padding-right: 0px;
}
/*body-content-header*/
.body-content-header {
    padding-bottom: 18px;
    padding-top: 18px;
    background: #efefef;
    width: 100%;
    overflow: hidden;
}

.body-content-header label {
    font-size: 12px;
    font-family: 'MyriadProBold', sans-serif;
    color: #3f3f3f;
    font-weight: normal;
    float: left;
    margin-top: 8px;
}

.body-content-header .form-group {
    margin-bottom: 0;
}

.body-content-header .date label {
    margin-right: 10px;
}

.body-content-header .date .form-control {
    height: 30px;
    width: 30%;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}

/*select styles*/
.select2-container {
    height: 30px;
}

.select2-container--krajee .select2-selection--single {
    background-color: #fff !important;
    border: 1px solid #cdcdcd !important;
    border-radius: 4px !important;
    height: 30px;
    outline: none;
    box-shadow: none;
}

.select2-results__option[aria-selected] {
    color: #3f3f3f !important;
}

.select2-container--krajee .select2-results__group {
    font-family: 'MyriadSemiBold', sans-serif;
    color: #3f3f3f !important;
    padding: 3px;
    border:0px;
}

.select2-container--krajee .select2-results__option[aria-selected="true"]
{
    background-color:#fff;
}

.select2-container--krajee .select2-dropdown {
    border-color: #aaaaaa;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    margin-top: -1px;
    overflow-x: hidden;
}


.select2-container--krajee .select2-results__option .select2-results__option
{
    padding-left: 15px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-top: 2px;
}
.select2-container--krajee .select2-selection--single .select2-selection__arrow,
.select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow {
    height: 29px;
    width: 29px;
    background: #d2d2d2 url("../images/icons/symbols.png") no-repeat -33px 2px;
    border-width: medium medium medium 0;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-results__option {
    padding-left:3px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.select2-container--krajee.select2-container--open .select2-selection, .select2-container--krajee .select2-selection:focus {
    box-shadow: none;
}

.select2-container--krajee .select2-selection--multiple .select2-selection__rendered {
    overflow:visible ;
}
/*datepiker styles*/

/*log-options*/
.body-content-options {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}

.body-content-options i {
    margin-right: 5px;
}

.actions {
    text-align: right;
}

span.action {
    display: block;
    width: 20px;
    height: 20px;
}

.actions button > span.action.edit {
    background: url("../images/icons/symbols.png") no-repeat -98px -8px;
}

.actions button > span.action.delete {
    background: url("../images/icons/symbols.png") no-repeat -126px -6px;
}

.actions button > span.action.open {
    background: url("../images/icons/symbols.png") no-repeat -156px -8px;
}

/*table*/
.table-app table {
    text-align: center;
    border-bottom: 1px solid #c8c8c8;
}

.table-app table tr td {
    cursor: pointer;
}

.table-app table th {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'MyriadProBold', sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #787878;
    font-weight:normal;
    font-size:12px;
}

.table-app table th a {
    color: #ffffff;
}

.table-app table td {
    border-right: 1px solid #c8c8c8;
}

.table-app table td:last-child {
    border-right: none;
}

.table-app table .btn-link {
    padding: 0;
}

.table-app table .btn-link:focus {
    color: #337ab7;
}

.table > thead > tr > th {
    vertical-align: middle;
}
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
    padding: 4px;
}

.col-md-9, .no-margin
{
    padding-left: 0px;
    padding-right: 0px;
}

.table thead tr:first-child th:last-child, .table tfoot tr:first-child td:last-child {
    display: none;
}
.table thead tr:first-child th:first-child{
    width: 50px;
}
.table tbody tr td:first-child{
    width: 50px;
}
.table {
    font-size: 13px;
}

/*.table input[type="checkbox"]{*/
    /*display: block !important;*/
/*}*/


#modalAnswer > .modal-dialog
{
    width:800px;
}

#table-answer > table > tbody >tr >td
{
    font-size: 12px;
}

#table-answer > div.pagination-wrapper > .pagination
{
    margin: 0px;
}
#table-answer > div.pagination-wrapper > .pagination > li > a
{
    font-size: 12px;
}


/*pagination*/
.pagination-wrapper {
    width: 100%;
    text-align: center;
}

.pagination > li > a,
.pagination > li:first-child > a,
.pagination > li:last-child > a {
    border-radius: 50%;
    margin-left: 0;
}

.pagination > li > a {
    background: none;
    color: #3f3f3f;
    float: left;
    line-height: 1.42857;
    margin-left: 5px;
    padding: 6px 14px;
    font-family: 'MyriadProRegular', sans-serif;
    font-size: 18px;
    border: none;
}

.pagination > li.active > a {
    background: #e1e1e1 !important;
    border: none !important;
}

/*end pagination*/

/*modal window styles*/
.modal-body {
    overflow: scroll;
    min-height: 200px;
    max-height: 550px;
}

.modal-content {
    border-radius: 15px;
}

.modal-header {
    color: #ffffff;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding: 5px 5px 5px 15px;
}

.modal-header h4 {
    font-size: 24px;
    margin: 0;
}

.modal-header h2 {
    font-size: 24px;
    margin: 0;
}

.modal-header .close {
    color: #ffffff !important;
    opacity: 0.7;
}

.modal-header .close:focus,
.modal-header .close:hover {
    opacity: 1;
}

.modal-footer {
    border-top: none;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 0px;

}

.model-content-wrapper {
    /*border-bottom: 1px solid #b8b8b8;*/
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
}

.height-modal {
    height: 450px;
    overflow-y: scroll;
}

.form-group {
    margin-bottom: 5px;
    overflow: hidden;
}

label {
    display: block;
    margin-top: 5px;
    text-align: right !important;
    font-family: 'MyriadProBold', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.form-control {
    height: 30px;
}

div.input-group.date span.input-group-addon {
    padding-bottom: 5px;
}

.modal-glyph {
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 7px;
}

.labeled {
    padding-top: 3px;
}

.labeled label {
    display: inline;
    text-align: left;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

div.table-app input[type="checkbox"] {
    display: block;
    margin: 0 auto;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    font-size: 14px;
    color: #444;
    cursor: pointer;
    font-family: 'MyriadProBold', sans-serif;
    position: relative;
    height: 28px;
}

form input[type="checkbox"] + label {
    font-size: 14px;
    color: #444;
    cursor: pointer;
    font-family: 'MyriadProBold', sans-serif;
    position: relative;
}

input[type="checkbox"] + label span {
    position: absolute;
    right: -90px;
    top: -14px;
}

input[type="radio"] + label span {
    position: absolute;
    /*right: -20px;*/
    top: -6px;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 34px;
    margin: 0 5px 0 0;
    background: url('../images/icons/symbols.png') no-repeat;
}

form input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-top: -7px;
    float: left;
}

input[type="checkbox"] + label::before {
    background-position: -390px -7px;
}

input[type="radio"] + label::before {
    background-position: -180px -5px;
}

input[type="checkbox"]:checked + label::before {
    background-position: -345px -7px;
}

input[type="radio"]:checked + label::before {
    background-position: -240px -5px;
}

input[type="checkbox"]:disabled + label::before {
    background-position: -345px -260px;
}

input[type="checkbox"]:checked:disabled + label::before {
    background-position: -390px -7px;
}

input[type="radio"]:disabled + label::before {
    background-position: -180px -5px;
}

input[type="radio"]:checked:disabled + label::before {
    background-position: -180px -5px;
}

.more-model {
    position: relative;
    margin-bottom: 45px;
    margin-top: 20px;
}

.more {
    padding-left: 0px;
    padding-right: 25px;
    padding-top: 25px;
    border-radius: 5px;
    display: none;
}

.plus-text,
.minus-text {
    position: absolute;
    top: -20px;
    left: 35%;
    padding: 10px;
    background: #ffffff;
    font-size: 16px;
    font-family: 'MyriadProBold', sans-serif;
    cursor: pointer;
}

.plus-text i,
.minus-text i {
    margin-right: 5px;
}

.minus-text {
    display: none;
}

.more.active {
    display: block;
}

.more-model.active {
    margin-bottom: 15px;
}

.more-model.active .plus-text {
    display: none;
}

.more-model.active .minus-text {
    display: block;
}

/*end modal window*/

/*==========================footer the same of all pages========================*/
footer {
    background: #3f3f3f;
    font-size: 12px;
    color: #ffffff;
    padding: 18px 0 25px 0;
}

/*radio input's styles*/
.info-radio input[type="radio"] {
    display: none;
}

.info-radio input[type="radio"] + label {
    font-size: 11px;
    font-family: 'MyriadSemiBold', sans-serif;
    color: #444;
    cursor: pointer;
    margin-bottom: 0;
}

.info-radio input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 5px 0 0;
    background: url('../images/icons/symbols.png') no-repeat;
}

.info-radio input[type="radio"] + label::before {
    background-position: -188px -7px;
}

.info-radio input[type="radio"]:checked + label::before {
    background-position: -218px -7px;
}

.info-radio input[type="radio"]:disabled + label::before {
    background-position: -188px -7px;
}

.info-radio input[type="radio"]:checked:disabled + label::before {
    background-position: -188px -7px;
}

/*end radio input*/
.select2-container--krajee .select2-results__group {
    background-color: white;
}
.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
    background-color: #e1e1e1 !important;
    color: #3f3f3f;
}
.table-padding td {
    padding: 2px;
}
.table-padding label {
    margin: 0px;
}

.license-text {
    font-size: 12px;
}

.content-body ul {
    margin-left: 30px;
}
.content-body ul li {
    margin-bottom: 10px;
}

.report td {
    padding-left: 5px;
    padding-right: 5px;
}
.report h4 {
    margin-top:5px;
    margin-bottom:5px;
}
.report h3 {
    margin-top:10px;
    margin-bottom:10px;
}
.report  .column-number {
    text-align: right;
    width:10%;
}
.report .column-text-margin {
    padding-left: 20px;
}
.bold {
    font-weight: bold;
}

.select2-container .select2-selection--multiple {
    display:inline-block;
    width: 100%;
}
.select2-container {
    height:auto !important;
}

.select2-selection__rendered  li {
    margin-bottom: 0px !important;
}
.sidebar-info-widget .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.select2-selection__clear {
    opacity:1 !important;
    font-weight: bold !important;
    line-height:0.8 !important;
    font-size: 20px !important;
    text-align: center !important;
    width: 15px !important;
    margin-right:6px !important;
}

#paymentCard
 label {
    margin-right: 20px;
    min-width: 100px;
    display: inline-block;
}

#paymentCard .field-order-billing_cardexp_year {
    margin-left: 15px;
}